---
layout: page
title: "Català"
header_title: "Transcripció del judici"
description: "Un projecte col·laboratiu per transcriure i subtitular tot el judici espanyol dels líders polítics i socials catalans"
header-img: "img/bunkers_tilt.jpg"
---


<br>
<br>
<br>

<h2 align='center'>Per què?</h2>

És important que el món conegui el que està passant en el judici d'Espanya als 12 líders socials i polítics catalans. La transcripció del judici farà que la informació del que està passant sigui més accesible.


<h2 align='center'>Vols fer de voluntari?</h2>

Transcriure centenars d'hores de vídeo requerirà un esforç de grup. Necessitem molts voluntaris. Ens pots ajudar? Fes clic <a href="http://trialtranscription.com/app">AQUÍ</a> per començar.



<h2 align='center'>Que farem?</h2>

Nosaltres:

<ul>


<li>Crearem una transcripció curosa del judici perquè es pugui traduïr a altres idiomes (les persones que no parlen castellà ho podran entendre)

<li>Construirem una base de dades perquè la gent pugui buscar i examinar el contingut del judici pel seu compte (per exemple, fer cerques de paraules com "violent" o "muralles humanes")

<li>Farem una aplicació web perquè qualsevol persona pugui buscar paraules concretes, persones, llocs, etc i puguin veure de manera inmediata el vídeo corresponent del judici.

<li>Ajudarem a periodistes, polítics i advocats a fer la seva feina, amb un judici més obert, transparent i accessible.

<ul>
<br>
<br>
<br>


<div align='center'>

<a href="{{ site.baseurl }}/catalan">
    <img src="{{ site.baseurl }}/img/banderes/ca.png" alt="" align='right' style='float:right' height="100" width="100">
</a>


<a href="{{ site.baseurl }}/espanol">
    <img src="{{ site.baseurl }}/img/banderes/es.png" alt="" align='left' style='float:left' height="100" width="100">
</a>

<div id='content' align='center'>
<a href="{{ site.baseurl }}/english">
    <img src="{{ site.baseurl }}/img/banderes/en.png" alt="" align='center' height="100" width="100">
</a>

</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>

<hr>
<hr>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
